﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>@ViewBag.Title</title>

    <link href="~/Content/theme/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/theme/css/fonts.css" rel="stylesheet">
    <link href="~/Content/theme/css/main.css" rel="stylesheet">
    <link href="~/Content/theme/css/select.css" rel="stylesheet">
    <link href="~/Content/theme/css/jquery.mb.YTPlayer.min.css" rel="stylesheet">
    <link href="~/Content/theme/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/theme/css/responsive.css" rel="stylesheet">

    <link rel="stylesheet/less" href="~/Content/theme/css/skin.less">
    <script src="~/Content/theme/js/less.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" type="image/png" href="~/Content/theme/img/favicon-16x16.png" sizes="16x16">

</head>

<body>

    <div class="un-mask">

        <div class="un-loader">
            <div class="un-load-color"></div>
        </div>

        <div class="un-load-bg"></div>
        <div class="un-load-bar"></div>

    </div><!-- end mask -->
    <div id="un-wrap">

        <div id="un-menu-modal" class="un-menu-modal">

            <div class="un-menu-close"><i class="un-icon-close"></i></div>

            <nav class="un-menu-center">

                <ul class="un-main-menu">

                    <li class="un-item-active"><a href="home.html"><span>home</span></a></li>

                    <li class="un-item-active"><a href="index.html">home</a></li>
                    <li><a href="#"><span>about me</span></a></li>
                    <li><a href="#"><span>lifestyle</span></a></li>
                    <li><a href="#"><span>trends</span></a></li>
                    <li><a href="#"><span>travels</span></a></li>
                    <li><a href="#"><span>podcasts</span></a></li>
                    <li class="un-item-parent">
                        <a href="#"><span>multilevel</span><i class="un-icon-keyboard-arrow-down"></i></a>

                        <ul class="un-sub-menu">
                            <li><a href="#">level 2</a></li>
                            <li><a href="#">level 2</a></li>
                            <li class="un-item-parent">
                                <a href="#">level 2<i class="un-icon-keyboard-arrow-down"></i></a>

                                <ul class="un-sub-menu">
                                    <li><a href="#">level 3</a></li>
                                </ul>

                            </li>
                        </ul>

                    </li>

                </ul>

            </nav>

        </div>
        <header class="un-header-wide un-shadow">

            <div class="un-menu-device">

                <div class="un-container">

                    <div class="un-logo-left un-logo-device un-pull-left">
                        <a href="index.html"><img src="~/Content/theme/img/logo-head.png" alt="Inkas"></a>
                    </div>

                    <div class="un-btn-switch un-pull-right">
                        <i class="un-icon-menu"></i>
                    </div>

                </div>

            </div>

            <div class="un-menu-wide">

                <nav class="un-menu-left un-pull-left">

                    <ul class="un-main-menu">

                        <li class="un-item-parent">
                            <a href="index.html">home<i class="un-icon-keyboard-arrow-down"></i></a>

                            <ul class="un-sub-menu">
                                <li><a href="index.html"><span>Standard Home</span></a></li>
                                <li><a href="home-scroll.html"><span>Scroll Home</span></a></li>
                            </ul>

                        </li>

                        <li class="un-item-parent">
                            <a href="#">blogs<i class="un-icon-keyboard-arrow-down"></i></a>

                            <ul class="un-sub-menu">
                                <li><a href="blog-l-full.html"><span>Big Items</span></a></li>
                                <li><a href="blog-m-sidebar.html"><span>Big Items + Sidebar</span></a></li>
                                <li><a href="blog-s-full.html"><span>List Items</span></a></li>
                                <li><a href="blog-xs-sidebar.html"><span>List Items + Sidebar</span></a></li>
                                <li><a href="blog-grd-full.html"><span>Grid View</span></a></li>
                                <li><a href="blog-grd-sidebar.html"><span>Grid View + Sidebar</span></a></li>
                                <li><a href="blog-msn-full.html"><span>Masonry Style</span></a></li>
                            </ul>

                        </li>

                        <li class="un-item-parent">
                            <a href="#">posts<i class="un-icon-keyboard-arrow-down"></i></a>

                            <ul class="un-sub-menu">
                                <li><a href="post-full-image.html"><span>post fullwidth: image</span></a></li>
                                <li><a href="post-full-video.html"><span>post fullwidth: video</span></a></li>
                                <li><a href="post-full-slider.html"><span>post fullwidth: slider</span></a></li>
                                <li><a href="post-full-audio.html"><span>post fullwidth: audio</span></a></li>
                                <li><a href="post-side-image.html"><span>post + sidebar: image</span></a></li>
                                <li><a href="post-side-video.html"><span>post + sidebar: video</span></a></li>
                                <li><a href="post-side-slider.html"><span>post + sidebar: slider</span></a></li>
                                <li><a href="post-side-audio.html"><span>post + sidebar: audio</span></a></li>
                            </ul>

                        </li>

                        <li class="un-item-parent">
                            <a href="#">pages<i class="un-icon-keyboard-arrow-down"></i></a>

                            <ul class="un-sub-menu">
                                <li><a href="page-full.html"><span>fullwidth page</span></a></li>
                                <li><a href="page-sidebar.html"><span>sidebar page</span></a></li>
                            </ul>

                        </li>

                    </ul>

                </nav>

                <div class="un-logo-center">
                    <a href="index.html"><img src="~/Content/theme/img/logo-center.png" alt="Inkas"></a>
                </div>

                <nav class="un-menu-right un-menu-wide un-pull-right">

                    <ul class="un-main-menu">

                        <li class="un-item-parent">
                            <a href="#">5 sliders<i class="un-icon-keyboard-arrow-down"></i></a>

                            <ul class="un-sub-menu">
                                <li><a href="blog-carousel-l.html"><span>mosaic carousel</span></a></li>
                                <li><a href="blog-top-slider.html"><span>featured post top</span></a></li>
                                <li><a href="blog-bottom-slider.html"><span>featured post bottom</span></a></li>
                                <li><a href="blog-full-slider.html"><span>fullwidth slider</span></a></li>
                                <li><a href="blog-carousel-s.html"><span>polaroid carousel</span></a></li>
                            </ul>

                        </li>

                        <li class="un-item-parent">
                            <a href="#">3 headers<i class="un-icon-keyboard-arrow-down"></i></a>

                            <ul class="un-sub-menu">
                                <li><a href="page-menu-wide.html"><span>full menu</span></a></li>
                                <li><a href="page-menu-narrow.html"><span>standard menu</span></a></li>
                                <li><a href="page-menu-modal.html"><span>minimal menu + modal</span></a></li>

                            </ul>

                        </li>

                        <li class="un-item-parent">
                            <a href="#"><span>multilevel</span><i class="un-icon-keyboard-arrow-down"></i></a>

                            <ul class="un-sub-menu">
                                <li><a href="#">level 1</a></li>
                                <li><a href="#">level 1</a></li>
                                <li class="un-item-parent">
                                    <a href="#">level 1<i class="un-icon-keyboard-arrow-left"></i></a>

                                    <ul class="un-sub-menu">
                                        <li><a href="#">level 2</a></li>
                                        <li class="un-item-parent">
                                            <a href="#">level 2<i class="un-icon-keyboard-arrow-left"></i></a>

                                            <ul class="un-sub-menu">
                                                <li><a href="#">level 3</a></li>
                                                <li><a href="#">level 3</a></li>
                                            </ul>

                                        </li>
                                    </ul>

                                </li>
                            </ul>

                        </li>

                    </ul>

                </nav>

                <div class="un-clearfix"></div>

            </div>

            <div class="un-share-center">

                <ul class="un-list-share-top un-list-share">

                    <li id="un-btn-search"><a href=""><i class="un-icon-search"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com"><i class="un-icon-social-twitter"></i></a></li>
                    <li><a target="_blank" href="https://facebook.com"><i class="un-icon-facebook"></i></a></li>
                    <li><a target="_blank" href="http://www.google.com/"><i class="un-icon-google-plus"></i></a></li>
                    <li><a target="_blank" href="https://instagram.com/"><i class="un-icon-instagram"></i></a></li>
                    <li><a target="_blank" href="https://it.pinterest.com/"><i class="un-icon-pinterest"></i></a></li>
                    <li><a target="_blank" href="http://themeforest.net/feeds/new-site-templates-slash-creative-items.atom"><i class="un-icon-rss"></i></a></li>

                </ul>

            </div>

        </header>

        <div>
            @RenderBody()
        </div>
        <!-- </div> end wrap inside footer -->

        <footer class="un-footer">

            <div class="un-container">

                <div class="un-btn-top">
                    <i class="un-icon-keyboard-arrow-up"></i>
                </div>

                <div class="un-logo-footer">
                    <a href="#"><img src="~/Content/theme/img/logo-footer.png" alt=""></a>
                </div>

                <div class="un-copy">&copy; 2015 <a href="#">unCommons</a> Team - All Rights Reserved</div>

            </div>

        </footer><!-- end footer -->

    </div><!-- end wrap -->

    <script src="~/Content/theme/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/theme/js/jquery.debouncedresize.js"></script>
    <script src="~/Content/theme/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/theme/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/theme/js/TweenMax.min.js"></script>
    <script src="~/Content/theme/js/owl.carousel.js"></script>
    <script src="~/Content/theme/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content/theme/js/jquery.customSelect.js"></script>
    <script src="~/Content/theme/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/Content/theme/js/scripts.js"></script>

</body>

</html>	