﻿@model  TheEngineeringProjectsWP.Models.GeneralSettings
@{
    ViewData["Title"] = "General";
    Layout = "~/Views/Shared/_LayoutWordPress.cshtml";
}

<h1>General</h1>

<form method="post" action="general" novalidate="novalidate">

    <table class="form-table">

        <tbody>
            <tr>
                <th scope="row"><label for="blogname">Site Title</label></th>
                <td>
                <input name="SiteTitle" type="text" id="blogname" value="@Model.SiteTitle" class="regular-text">
                </td>
            </tr>

            <tr>
                <th scope="row"><label for="blogdescription">Tagline</label></th>
                <td>
                    <input name="Tagline" type="text" id="blogdescription" aria-describedby="tagline-description" value="@Model.Tagline" class="regular-text">
                    <p class="description" id="tagline-description">In a few words, explain what this site is about.</p>
                </td>
            </tr>


            <tr>
                <th scope="row"><label for="siteurl">WordPress Address (URL)</label></th>
                <td><input name="WordPressAddressURL" type="url" id="siteurl" value="@Model.WordPressAddressURL" class="regular-text code"></td>
            </tr>

            <tr>
                <th scope="row"><label for="home">Site Address (URL)</label></th>
                <td>
                    <input name="SiteAddressURL" type="url" id="home" aria-describedby="home-description" value="@Model.SiteAddressURL" class="regular-text code">
                    <p class="description" id="home-description">
                        Enter the address here if you <a href="https://codex.wordpress.org/Giving_WordPress_Its_Own_Directory">want your site home page to be different from your WordPress installation directory</a>.
                    </p>
                </td>
            </tr>


            <tr>
                <th scope="row"><label for="new_admin_email">Email Address</label></th>
                <td>
                    <input name="AdminEmail" type="email" id="new_admin_email" aria-describedby="new-admin-email-description" value="@Model.AdminEmail" class="regular-text ltr">
                    <p class="description" id="new-admin-email-description">This address is used for admin purposes. If you change this we will send you an email at your new address to confirm it. <strong>The new address will not become active until confirmed.</strong></p>
                </td>
            </tr>


            <tr>
                <th scope="row">Membership</th>
                <td>
                    <fieldset>
                        <legend class="screen-reader-text"><span>Membership</span></legend><label for="users_can_register">
                            <input name="AnyoneCanRegister" type="checkbox" id="users_can_register" value="@Model.AnyoneCanRegister">
                            Anyone can register
                        </label>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <th scope="row"><label for="default_role">New User Default Role</label></th>
                <td>
                    <select name="DefaultRole" id="default_role">
                        <option value="subscriber">Subscriber</option>
                        @if (Model.DefaultRole == "contributor")
                        {
                            <option value="contributor" selected>Contributor</option>
                        }
                        else
                        {
                            <option value="contributor">Contributor</option>
                        }

                        @if (Model.DefaultRole == "author")
                        {
                            <option value="author" selected>Author</option>
                        }
                        else
                        {
                            <option value="author">Author</option>
                        }

                        @if (Model.DefaultRole == "editor")
                        {
                            <option value="editor" selected>Editor</option>
                        }
                        else
                        {
                            <option value="editor">Editor</option>
                        }

                        @if (Model.DefaultRole == "administrator")
                        {
                            <option value="administrator" selected>Administrator</option>
                        }
                        else
                        {
                            <option value="administrator">Administrator</option>
                        }

                    </select>
                </td>
            </tr>

            <tr>
                <th scope="row"><label for="WPLANG">Site Language</label></th>
                <td>
                    <select name="SiteLanguage" id="WPLANG">
                            <option value="" lang="en" data-installed="1" selected="selected">English (United States)</option>
                            <option value="af" lang="af">Afrikaans</option>
                            <option value="ar" lang="ar">العربية</option>
                            <option value="ary" lang="ar">العربية المغربية</option>
                            <option value="as" lang="as">অসমীয়া</option>
                            <option value="az" lang="az">Azərbaycan dili</option>
                            <option value="azb" lang="az">گؤنئی آذربایجان</option>
                            <option value="bel" lang="be">Беларуская мова</option>
                            <option value="bg_BG" lang="bg">Български</option>
                            <option value="bn_BD" lang="bn">বাংলা</option>
                            <option value="bo" lang="bo">བོད་ཡིག</option>
                            <option value="bs_BA" lang="bs">Bosanski</option>
                            <option value="ca" lang="ca">Català</option>
                            <option value="ceb" lang="ceb">Cebuano</option>
                            <option value="cs_CZ" lang="cs">Čeština</option>
                            <option value="cy" lang="cy">Cymraeg</option>
                            <option value="da_DK" lang="da">Dansk</option>
                            <option value="de_CH" lang="de">Deutsch (Schweiz)</option>
                            <option value="de_DE_formal" lang="de">Deutsch (Sie)</option>
                            <option value="de_DE" lang="de">Deutsch</option>
                            <option value="de_AT" lang="de">Deutsch (Österreich)</option>
                            <option value="de_CH_informal" lang="de">Deutsch (Schweiz, Du)</option>
                            <option value="dzo" lang="dz">རྫོང་ཁ</option>
                            <option value="el" lang="el">Ελληνικά</option>
                            <option value="en_NZ" lang="en">English (New Zealand)</option>
                            <option value="en_AU" lang="en">English (Australia)</option>
                            <option value="en_ZA" lang="en">English (South Africa)</option>
                            <option value="en_GB" lang="en">English (UK)</option>
                            <option value="en_CA" lang="en">English (Canada)</option>
                            <option value="eo" lang="eo">Esperanto</option>
                            <option value="es_CL" lang="es">Español de Chile</option>
                            <option value="es_VE" lang="es">Español de Venezuela</option>
                            <option value="es_ES" lang="es">Español</option>
                            <option value="es_GT" lang="es">Español de Guatemala</option>
                            <option value="es_MX" lang="es">Español de México</option>
                            <option value="es_CR" lang="es">Español de Costa Rica</option>
                            <option value="es_CO" lang="es">Español de Colombia</option>
                            <option value="es_PE" lang="es">Español de Perú</option>
                            <option value="es_AR" lang="es">Español de Argentina</option>
                            <option value="et" lang="et">Eesti</option>
                            <option value="eu" lang="eu">Euskara</option>
                            <option value="fa_IR" lang="fa">فارسی</option>
                            <option value="fi" lang="fi">Suomi</option>
                            <option value="fr_CA" lang="fr">Français du Canada</option>
                            <option value="fr_FR" lang="fr">Français</option>
                            <option value="fr_BE" lang="fr">Français de Belgique</option>
                            <option value="fur" lang="fur">Friulian</option>
                            <option value="gd" lang="gd">Gàidhlig</option>
                            <option value="gl_ES" lang="gl">Galego</option>
                            <option value="gu" lang="gu">ગુજરાતી</option>
                            <option value="haz" lang="haz">هزاره گی</option>
                            <option value="he_IL" lang="he">עִבְרִית</option>
                            <option value="hi_IN" lang="hi">हिन्दी</option>
                            <option value="hr" lang="hr">Hrvatski</option>
                            <option value="hu_HU" lang="hu">Magyar</option>
                            <option value="hy" lang="hy">Հայերեն</option>
                            <option value="id_ID" lang="id">Bahasa Indonesia</option>
                            <option value="is_IS" lang="is">Íslenska</option>
                            <option value="it_IT" lang="it">Italiano</option>
                            <option value="ja" lang="ja">日本語</option>
                            <option value="jv_ID" lang="jv">Basa Jawa</option>
                            <option value="ka_GE" lang="ka">ქართული</option>
                            <option value="kab" lang="kab">Taqbaylit</option>
                            <option value="kk" lang="kk">Қазақ тілі</option>
                            <option value="km" lang="km">ភាសាខ្មែរ</option>
                            <option value="kn" lang="kn">ಕನ್ನಡ</option>
                            <option value="ko_KR" lang="ko">한국어</option>
                            <option value="ckb" lang="ku">كوردی‎</option>
                            <option value="lo" lang="lo">ພາສາລາວ</option>
                            <option value="lt_LT" lang="lt">Lietuvių kalba</option>
                            <option value="lv" lang="lv">Latviešu valoda</option>
                            <option value="mk_MK" lang="mk">Македонски јазик</option>
                            <option value="ml_IN" lang="ml">മലയാളം</option>
                            <option value="mn" lang="mn">Монгол</option>
                            <option value="mr" lang="mr">मराठी</option>
                            <option value="ms_MY" lang="ms">Bahasa Melayu</option>
                            <option value="my_MM" lang="my">ဗမာစာ</option>
                            <option value="nb_NO" lang="nb">Norsk bokmål</option>
                            <option value="ne_NP" lang="ne">नेपाली</option>
                            <option value="nl_BE" lang="nl">Nederlands (België)</option>
                            <option value="nl_NL_formal" lang="nl">Nederlands (Formeel)</option>
                            <option value="nl_NL" lang="nl">Nederlands</option>
                            <option value="nn_NO" lang="nn">Norsk nynorsk</option>
                            <option value="oci" lang="oc">Occitan</option>
                            <option value="pa_IN" lang="pa">ਪੰਜਾਬੀ</option>
                            <option value="pl_PL" lang="pl">Polski</option>
                            <option value="ps" lang="ps">پښتو</option>
                            <option value="pt_AO" lang="pt">Português de Angola</option>
                            <option value="pt_PT" lang="pt">Português</option>
                            <option value="pt_PT_ao90" lang="pt">Português (AO90)</option>
                            <option value="pt_BR" lang="pt">Português do Brasil</option>
                            <option value="rhg" lang="rhg">Ruáinga</option>
                            <option value="ro_RO" lang="ro">Română</option>
                            <option value="ru_RU" lang="ru">Русский</option>
                            <option value="sah" lang="sah">Сахалыы</option>
                            <option value="si_LK" lang="si">සිංහල</option>
                            <option value="sk_SK" lang="sk">Slovenčina</option>
                            <option value="skr" lang="skr">سرائیکی</option>
                            <option value="sl_SI" lang="sl">Slovenščina</option>
                            <option value="sq" lang="sq">Shqip</option>
                            <option value="sr_RS" lang="sr">Српски језик</option>
                            <option value="sv_SE" lang="sv">Svenska</option>
                            <option value="szl" lang="szl">Ślōnskŏ gŏdka</option>
                            <option value="ta_IN" lang="ta">தமிழ்</option>
                            <option value="te" lang="te">తెలుగు</option>
                            <option value="th" lang="th">ไทย</option>
                            <option value="tl" lang="tl">Tagalog</option>
                            <option value="tr_TR" lang="tr">Türkçe</option>
                            <option value="tt_RU" lang="tt">Татар теле</option>
                            <option value="tah" lang="ty">Reo Tahiti</option>
                            <option value="ug_CN" lang="ug">ئۇيغۇرچە</option>
                            <option value="uk" lang="uk">Українська</option>
                            <option value="ur" lang="ur">اردو</option>
                            <option value="uz_UZ" lang="uz">O‘zbekcha</option>
                            <option value="vi" lang="vi">Tiếng Việt</option>
                            <option value="zh_TW" lang="zh">繁體中文</option>
                            <option value="zh_CN" lang="zh">简体中文</option>
                            <option value="zh_HK" lang="zh">香港中文版	</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="timezone_string">Timezone</label></th>
                <td>
                    <select name="Timezone" id="timezone_string" class="span5">
                        <option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
                        <option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
                        <option value="-10:00">(GMT -10:00) Hawaii</option>
                        <option value="-09:50">(GMT -9:30) Taiohae</option>
                        <option value="-09:00">(GMT -9:00) Alaska</option>
                        <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                        <option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                        <option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                        <option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                        <option value="-04:50">(GMT -4:30) Caracas</option>
                        <option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                        <option value="-03:50">(GMT -3:30) Newfoundland</option>
                        <option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                        <option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
                        <option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
                        <option value="+00:00">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                        <option value="+01:00">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
                        <option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
                        <option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                        <option value="+03:50">(GMT +3:30) Tehran</option>
                        <option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                        <option value="+04:50">(GMT +4:30) Kabul</option>
                        <option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                        <option value="+05:50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                        <option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
                        <option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                        <option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
                        <option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                        <option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                        <option value="+08:75">(GMT +8:45) Eucla</option>
                        <option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                        <option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
                        <option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                        <option value="+10:50">(GMT +10:30) Lord Howe Island</option>
                        <option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                        <option value="+11:50">(GMT +11:30) Norfolk Island</option>
                        <option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                        <option value="+12:75">(GMT +12:45) Chatham Islands</option>
                        <option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
                        <option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
                    </select>


                    <p class="description" id="timezone-description">Choose either a city in the same timezone as you or a UTC timezone offset.</p>

                    <p class="timezone-info">
                        <span id="utc-time">
                            Universal time (<abbr>UTC</abbr>) is <code>2019-08-18 17:10:11</code>.
                        </span>
                    </p>

                </td>

            </tr>
            <tr>
                <th scope="row">Date Format</th>
                <td>
                    <fieldset>
                        <legend class="screen-reader-text"><span>Date Format</span></legend>
                        @if (Model.DateFormat == "F j, Y")
                        {
                            <label><input type="radio" name="DateFormat" value="F j, Y" checked="checked"> <span class="date-time-text format-i18n">August 18, 2019</span><code>F j, Y</code></label><br>
                        }
                        else
                        {
                            <label><input type="radio" name="DateFormat" value="F j, Y"> <span class="date-time-text format-i18n">August 18, 2019</span><code>F j, Y</code></label><br>
                        }

                        @if (Model.DateFormat == "Y-m-d")
                        {
                            <label><input type="radio" name="DateFormat" value="Y-m-d" checked="checked"> <span class="date-time-text format-i18n">2019-08-18</span><code>Y-m-d</code></label><br>
                        }
                        else
                        {
                            <label><input type="radio" name="DateFormat" value="Y-m-d"> <span class="date-time-text format-i18n">2019-08-18</span><code>Y-m-d</code></label><br>
                        }

                        @if (Model.DateFormat == "m/d/Y")
                        {
                            <label><input type="radio" name="DateFormat" value="m/d/Y" checked="checked"> <span class="date-time-text format-i18n">08/18/2019</span><code>m/d/Y</code></label><br>
                        }
                        else
                        {
                            <label><input type="radio" name="DateFormat" value="m/d/Y"> <span class="date-time-text format-i18n">08/18/2019</span><code>m/d/Y</code></label><br>
                        }

                        @if (Model.DateFormat == "d/m/Y")
                        {
                            <label><input type="radio" name="DateFormat" value="d/m/Y" checked="checked"> <span class="date-time-text format-i18n">18/08/2019</span><code>d/m/Y</code></label><br>
                        }
                        else
                        {
                            <label><input type="radio" name="DateFormat" value="d/m/Y"> <span class="date-time-text format-i18n">18/08/2019</span><code>d/m/Y</code></label><br>
                        }


                            
                    </fieldset>
                </td>
            </tr>
            <tr>
                <th scope="row">Time Format</th>
                <td>
                    <fieldset>
                        <legend class="screen-reader-text"><span>Time Format</span></legend>

                        @if (Model.TimeFormat == "g:i a")
                        {
                            <label><input type="radio" name="TimeFormat" value="g:i a" checked="checked"> <span class="date-time-text format-i18n">5:10 pm</span><code>g:i a</code></label><br>
                        }
                        else
                        {
                            <label><input type="radio" name="TimeFormat" value="g:i a"> <span class="date-time-text format-i18n">5:10 pm</span><code>g:i a</code></label><br>
                        }

                        @if (Model.TimeFormat == "g:i A")
                        {
                            <label><input type="radio" name="TimeFormat" value="g:i A" checked="checked"> <span class="date-time-text format-i18n">5:10 PM</span><code>g:i A</code></label><br>
                        }
                        else
                        {
                            <label><input type="radio" name="TimeFormat" value="g:i A"> <span class="date-time-text format-i18n">5:10 PM</span><code>g:i A</code></label><br>
                        }

                        @if (Model.TimeFormat == "H:i")
                        {
                            <label><input type="radio" name="TimeFormat" value="H:i" checked="checked"> <span class="date-time-text format-i18n">17:10</span><code>H:i</code></label><br>
                        }
                        else
                        {
                            <label><input type="radio" name="TimeFormat" value="H:i"> <span class="date-time-text format-i18n">17:10</span><code>H:i</code></label><br>
                        }


                    </fieldset>
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="start_of_week">Week Starts On</label></th>
                <td>
                    <select name="WeekStartDay" id="start_of_week">

                        <option value="0">Sunday</option>
                        <option value="1" >Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>


    <p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="Save Changes"></p>
</form>
<script>
    $(document).ready(function(){
        $('#WPLANG').val('@Model.SiteLanguage');
        $('#timezone_string').val('@Model.Timezone')
        $('#start_of_week').val('@Model.WeekStartDay')
        
    });
</script>