﻿@model TheEngineeringProjectsWP.Models.PostTag

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>PostTag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TagId" />
            <div class="form-group">
                <label asp-for="TagTitle" class="control-label"></label>
                <input asp-for="TagTitle" class="form-control" />
                <span asp-validation-for="TagTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagDescription" class="control-label"></label>
                <input asp-for="TagDescription" class="form-control" />
                <span asp-validation-for="TagDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
