﻿@model List<TheEngineeringProjectsWP.Models.DTO.BlogDTO>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";

}

<div class="un-page-blog un-page-sidebar">

    <div class="un-container">

        <div class="un-col-md-8 un-content">

            <div class="un-list-post">

                @foreach (var item in Model)
                {
                    <div class="un-item-post un-item-medium">

                        <div class="un-post-media un-post-slider">

                            <div class="un-post-slides un-slider-big">

                                <div class="un-post-slide"><img src="img/media/item-big/img1.jpg" alt=""></div>
                                <div class="un-post-slide"><img src="img/media/item-big/img2.jpg" alt=""></div>
                                <div class="un-post-slide"><img src="img/media/item-big/img8.jpg" alt=""></div>

                            </div>

                        </div><!-- end post media / slider -->

                        <div class="un-post-caption un-shadow">

                            <div class="un-share-mask"></div>

                            <ul class="un-list-share un-list-share-side">

                                <li><a href="#"><i class="un-icon-social-twitter"></i></a></li>
                                <li><a href="#"><i class="un-icon-facebook"></i></a></li>
                                <li><a href="#"><i class="un-icon-google-plus"></i></a></li>
                                <li><a href="#"><i class="un-icon-pinterest"></i></a></li>

                            </ul>

                            <div class="un-post-head">

                                <div class="un-post-hash"><a href="#">@item.CategoryName | #@item.TagName</a></div>
                                <div class="un-post-title">@item.Title</div>

                                <div class="un-divider-center"></div>

                            </div>
                            <div>
                                <img src="@item.FeatureImage" width="100%"/>
                            </div>
                            <div class="un-post-exc">@Html.Raw(item.Description) [...]</div>

                            <div class="un-btn-more un-btn-style-1">
                                <a href="#">continue<i class="un-icon-read-more"></i></a>
                            </div>

                            <div class="un-post-info">

                                <div class="un-post-meta un-pull-left">
                                    <span class="un-post-date">@item.CreatedOn</span> by <span class="un-post-author un-dotted"><a href="#">unCommons</a></span>
                                </div>

                                <div class="un-post-stats un-pull-right">
                                    <span class="un-post-views"><i class="un-icon-eye"></i>@item.Views</span>
                                    <span class="un-post-reply"><i class="un-icon-comment-alt2-stroke"></i>@item.Comments</span>
                                </div>

                                <div class="un-clearfix"></div>

                            </div><!-- end post meta / stats -->

                        </div><!-- end post caption -->

                    </div><!-- end item post slide -->
                }
                <div class="un-item-post un-item-medium">

                    <div class="un-post-media un-post-slider">

                        <div class="un-post-slides un-slider-big">

                            <div class="un-post-slide"><img src="img/media/item-big/img1.jpg" alt=""></div>
                            <div class="un-post-slide"><img src="img/media/item-big/img2.jpg" alt=""></div>
                            <div class="un-post-slide"><img src="img/media/item-big/img8.jpg" alt=""></div>

                        </div>

                    </div><!-- end post media / slider -->

                    <div class="un-post-caption un-shadow">

                        <div class="un-share-mask"></div>

                        <ul class="un-list-share un-list-share-side">

                            <li><a href="#"><i class="un-icon-social-twitter"></i></a></li>
                            <li><a href="#"><i class="un-icon-facebook"></i></a></li>
                            <li><a href="#"><i class="un-icon-google-plus"></i></a></li>
                            <li><a href="#"><i class="un-icon-pinterest"></i></a></li>

                        </ul>

                        <div class="un-post-head">

                            <div class="un-post-hash"><a href="#">#life.style</a></div>
                            <div class="un-post-title">the healty living</div>

                            <div class="un-divider-center"></div>

                        </div>

                        <div class="un-post-exc">Vivamus suscipit nisi a mauris ultricies feugiat. Donec orci risus, suscipit et <strong>consectetur</strong> et, placerat maximus tortor massa ornare suscipit blandit. Tincidunt nisi tristique quis arcu et massa ornare blandit quis id nulla.<br /><br />Curabitur condimentum luctus facilisis. Ut <strong>condimentum</strong> orci neque, quis tincidunt nisi tristique sed.<br />Suspendisse tristique arcu et massa ornare blandit quis id nulla. Suspendisse nec <a href="#">condimentum lorem</a>. Praesent porttitor rutrum sem et convallis.<br><br>Vivamus suscipit nisi a mauris ultricies feugiat. Donec orci risus, suscipit et <strong>consectetur</strong> et, placerat maximus tortor. Donec orci risus, suscipit et <strong>consectetur</strong> et, placerat  tortor. Sed nunc , volutpat quis nulla ac, sagittis massa [...]</div>

                        <div class="un-btn-more un-btn-style-1">
                            <a href="#">continue<i class="un-icon-read-more"></i></a>
                        </div>

                        <div class="un-post-info">

                            <div class="un-post-meta un-pull-left">
                                <span class="un-post-date">feb 17, 2015</span> by <span class="un-post-author un-dotted"><a href="#">unCommons</a></span>
                            </div>

                            <div class="un-post-stats un-pull-right">
                                <span class="un-post-views"><i class="un-icon-eye"></i>2458</span>
                                <span class="un-post-reply"><i class="un-icon-comment-alt2-stroke"></i>458</span>
                            </div>

                            <div class="un-clearfix"></div>

                        </div><!-- end post meta / stats -->

                    </div><!-- end post caption -->

                </div><!-- end item post slide -->
                <div class="un-item-post un-item-medium">

                    <div class="un-post-media un-post-video un-iframe">

                        <iframe src="https://player.vimeo.com/video/95929658?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" allowFullScreen></iframe>

                    </div><!-- end post media / video -->

                    <div class="un-post-caption un-shadow">

                        <div class="un-share-mask"></div>

                        <ul class="un-list-share un-list-share-side">

                            <li><a href="#"><i class="un-icon-social-twitter"></i></a></li>
                            <li><a href="#"><i class="un-icon-facebook"></i></a></li>
                            <li><a href="#"><i class="un-icon-google-plus"></i></a></li>
                            <li><a href="#"><i class="un-icon-pinterest"></i></a></li>

                        </ul>

                        <div class="un-post-head">

                            <div class="un-post-hash"><a href="#">#world.trends</a></div>
                            <div class="un-post-title">my strange day</div>

                            <div class="un-divider-center"></div>

                        </div>

                        <div class="un-post-exc">Suspendisse massa ornare blandit quis id nulla tristique arcu et massa ornare blandit quis id nulla. Suspendisse nec <a href="#">condimentum</a> lorem. Praesent <strong>porttitor rutrum</strong> sem et convallis. Sed nunc turpis, volutpat quis nulla massa ornare blandit quis id nulla ac, sagittis sagittis massa [...]</div>

                        <div class="un-btn-more un-btn-style-2">
                            <a href="#">play more<i class="un-icon-read-more"></i></a>
                        </div>

                        <div class="un-post-info">

                            <div class="un-post-meta un-pull-left">
                                <span class="un-post-date">feb 15, 2015</span> by <span class="un-post-author un-dotted"><a href="#">unCommons</a></span>
                            </div>

                            <div class="un-post-stats un-pull-right">
                                <span class="un-post-views"><i class="un-icon-eye"></i>4242</span>
                                <span class="un-post-reply"><i class="un-icon-comment-alt2-stroke"></i>575</span>
                            </div>

                            <div class="un-clearfix"></div>

                        </div><!-- end post meta / stats -->

                    </div><!-- end post caption -->

                </div><!-- end item post video -->

                <div class="un-item-post un-item-medium">

                    <div class="un-post-quote un-shadow">

                        <div class="un-quote-before"><i class="un-icon-left-quote"></i></div>

                        <div class="un-quote-text">
                            There are not <strong>#strangers</strong> here,<br>
                            only <strong>#friends</strong> that have not yet <a href="#">met</a>.
                        </div>

                        <div class="un-quote-after"><i class="un-icon-right-quote"></i></div>

                    </div>

                    <div class="un-quote-arrow"></div>

                    <div class="un-quote-author"><i class="un-icon-user"></i>William Butler Yeats</div>

                </div><!-- end item post quote -->

                <div class="un-item-post un-item-medium">

                    <div class="un-post-media un-post-image un-overlay-2">

                        <img src="img/media/item-big/img3.jpg" alt="">

                    </div><!-- end post top / slider -->

                    <div class="un-post-caption un-shadow">

                        <div class="un-share-mask"></div>

                        <ul class="un-list-share un-list-share-side">

                            <li><a href="#"><i class="un-icon-social-twitter"></i></a></li>
                            <li><a href="#"><i class="un-icon-facebook"></i></a></li>
                            <li><a href="#"><i class="un-icon-google-plus"></i></a></li>
                            <li><a href="#"><i class="un-icon-pinterest"></i></a></li>

                        </ul>

                        <div class="un-post-head">

                            <div class="un-post-hash"><a href="#">#world.travel</a></div>
                            <div class="un-post-title">plan your trip with joy</div>

                            <div class="un-divider-center"></div>

                        </div>

                        <div class="un-post-exc">Vivamus suscipit nisi a mauris ultricies feugiat. Donec orci risus, suscipit et <strong>consectetur</strong><br />Curabitur condimentum luctus facilisis. Ut <strong>condimentum</strong> Donec orci risus, suscipit et <strong>consectetur</strong> orci neque, quis tincidunt nisi tristique sed.<br /><br>Vivamus suscipit nisi a mauris ultricies feugiat. Donec orci risus, suscipit et <strong>placerat</strong> et, placerat maximus tortor massa ornare suscipit blandit. Tincidunt nisi tristique quis arcu et massa ornare blandit quis id nulla.<br /><br>Suspendisse tristique arcu et massa ornare blandit quis id nulla. Suspendisse nec <a href="#">condimentum lorem</a>. Praesent porttitor rutrum sem et convallis.<br><br>Vivamus suscipit nisi a mauris ultricies feugiat. Donec orci risus, suscipit et <strong>consectetur</strong> et, placerat maximus tortor. Donec orci risus, suscipit et <strong>consectetur</strong> et, placerat  tortor. Sed nunc , volutpat quis nulla ac, sagittis massa [...]</div>

                        <div class="un-btn-more un-btn-style-3">
                            <a href="#">continue<i class="un-icon-read-more"></i></a>
                        </div>

                        <div class="un-post-info">

                            <div class="un-post-meta un-pull-left">
                                <span class="un-post-date">feb 13, 2015</span> by <span class="un-post-author un-dotted"><a href="#">unCommons</a></span>
                            </div>

                            <div class="un-post-stats un-pull-right">
                                <span class="un-post-views"><i class="un-icon-eye"></i>575</span>
                                <span class="un-post-reply"><i class="un-icon-comment-alt2-stroke"></i>57</span>
                            </div>

                            <div class="un-clearfix"></div>

                        </div><!-- end post meta / stats -->

                    </div><!-- end post caption -->

                </div><!-- end item post image -->

                <div class="un-item-post un-item-medium">

                    <div class="un-post-link">

                        <i class="un-icon-link"></i>http://<strong>marketblog.envato.com</strong>/<a href="#">creative-ideas</a>

                    </div>

                </div><!-- end item post link -->

                <div class="un-item-post un-item-medium">

                    <div class="un-post-media un-post-audio">

                        <img src="img/media/item-big/img4.jpg" alt="">

                        <div class="un-audio-play"><i class="un-icon-play"></i></div>
                        <div class="un-audio-equalizer"></div>

                        <audio>
                            <source src="http://demos.w3avenue.com/html5-unleashed-tips-tricks-and-techniques/demo-audio.ogg">
                            <source src="http://demos.w3avenue.com/html5-unleashed-tips-tricks-and-techniques/demo-audio.mp3">
                        </audio>

                    </div><!-- end post media / audio -->

                    <div class="un-post-caption un-shadow">

                        <div class="un-share-mask"></div>

                        <ul class="un-list-share un-list-share-side">

                            <li><a href="#"><i class="un-icon-social-twitter"></i></a></li>
                            <li><a href="#"><i class="un-icon-facebook"></i></a></li>
                            <li><a href="#"><i class="un-icon-google-plus"></i></a></li>
                            <li><a href="#"><i class="un-icon-pinterest"></i></a></li>

                        </ul>

                        <div class="un-post-head">

                            <div class="un-post-hash"><a href="#">#podcasts</a></div>
                            <div class="un-post-title">high quality song track: "emoticons"</div>

                            <div class="un-divider-center"></div>

                        </div>

                        <div class="un-post-exc">Praesent <strong>porttitor rutrum</strong> sem et convallis. Sed nunc turpis, <a href="#">volutpat</a> quis nulla massa ornare blandit quis id nulla ac, sagittis sagittis massa. Suspendisse massa ornare blandit quis id nulla tristique arcu et massa ornare blandit quis id nulla. Suspendisse nec <a href="#">condimentum</a> lorem [...]</div>

                        <div class="un-btn-more un-btn-style-4">
                            <a href="#">listen<i class="un-icon-headphones"></i></a>
                        </div>

                        <div class="un-post-info">

                            <div class="un-post-meta un-pull-left">
                                <span class="un-post-date">feb 11, 2015</span> by <span class="un-post-author un-dotted"><a href="#">unCommons</a></span>
                            </div>

                            <div class="un-post-stats un-pull-right">
                                <span class="un-post-views"><i class="un-icon-eye"></i>586</span>
                                <span class="un-post-reply"><i class="un-icon-comment-alt2-stroke"></i>475</span>
                            </div>

                            <div class="un-clearfix"></div>

                        </div><!-- end post meta / stats -->

                    </div><!-- end post caption -->

                </div><!-- end item post audio -->

                <div class="un-item-post un-item-medium">

                    <div class="un-post-media un-post-image un-overlay-2">

                        <img src="img/media/item-big/img5.jpg" alt="">

                    </div><!-- end post top / slider -->

                    <div class="un-post-caption un-shadow">

                        <div class="un-share-mask"></div>

                        <ul class="un-list-share un-list-share-side">

                            <li><a href="#"><i class="un-icon-social-twitter"></i></a></li>
                            <li><a href="#"><i class="un-icon-facebook"></i></a></li>
                            <li><a href="#"><i class="un-icon-google-plus"></i></a></li>
                            <li><a href="#"><i class="un-icon-pinterest"></i></a></li>

                        </ul>

                        <div class="un-post-head">

                            <div class="un-post-hash"><a href="#">#<span>cool</span>.<span>recipes</span></a></div>
                            <div class="un-post-title">sunday morning brunch</div>

                            <div class="un-divider-center"></div>

                        </div>

                        <div class="un-post-exc">Vivamus suscipit nisi tristique quis arcu et massa nisi a mauris ultricies feugiat. Donec orci risus, suscipit et <strong>consectetur</strong>. Curabitur condimentum luctus facilisis.<br><br>Ut <strong>condimentum</strong> Donec orci risus, suscipit et <strong>consectetur</strong> orci neque, quis tincidunt nisi tristique nisi tristique quis arcu et massa sed.<br /><br>Suspendisse nec <a href="#">condimentum lorem</a>. Praesent porttitor rutrum sem et convallis.<br><br>Vivamus suscipit nisi a mauris ultricies feugiat. Donec orci risus, suscipit et <strong>consectetur</strong> et, placerat maximus tortor. Donec orci risus, suscipit et <strong>consectetur</strong> et, placerat  tortor. Sed nunc , volutpat quis nulla ac, sagittis massa [...]</div>

                        <div class="un-btn-more un-btn-style-3">
                            <a href="#">continue<i class="un-icon-read-more"></i></a>
                        </div>

                        <div class="un-post-info">

                            <div class="un-post-meta un-pull-left">
                                <span class="un-post-date">feb 13, 2015</span> by <span class="un-post-author un-dotted"><a href="#">unCommons</a></span>
                            </div>

                            <div class="un-post-stats un-pull-right">
                                <span class="un-post-views"><i class="un-icon-eye"></i>575</span>
                                <span class="un-post-reply"><i class="un-icon-comment-alt2-stroke"></i>57</span>
                            </div>

                            <div class="un-clearfix"></div>

                        </div><!-- end post meta / stats -->

                    </div><!-- end post caption -->

                </div><!-- end item post image -->


            </div><!-- end list post -->

            <div class="un-posts-nav">

                <div class="un-nav-prev un-btn-nav un-btn-style-1 un-pull-left">
                    <a href="#"><i class="un-icon-angle-double-left"></i><span>newer posts</span></a>
                </div>

                <div class="un-nav-next un-btn-nav un-btn-style-1 un-pull-right">
                    <a href="#"><span>older posts</span><i class="un-icon-angle-double-right"></i></a>
                </div>

                <div class="un-clearfix"></div>

            </div><!-- end posts nav -->
        </div>

        <aside class="un-col-md-4 un-sidebar">

            <ul class="un-list-widgets">

                <li class="un-item-widget un-widget-about un-shadow">

                    <div class="un-widget-title">about<span class="un-dot">.</span>me</div>

                    <div class="un-widget-about-photo">

                        <img src="img/media/widget-about/img1.jpg" alt="">

                    </div>

                    <div class="un-divider-center"></div>

                    <div class="un-widget-about-exc">Vivamus suscipit nisi a mauris ultricie feugiat. Donec orci risus, suscipit et <strong>consectetur</strong> et, placerat  tortor.</div>

                    <div class="un-btn-more un-btn-style-2"><a href="#">get in touch<i class="un-icon-feather"></i></a></div>

                </li><!-- end widget about-->

                <li class="un-item-widget un-widget-stats">

                    <div class="un-widget-title"><span class="un-line">blog<span class="un-dot">.</span>stats</span></div>

                    <div class="un-widget-bar">
                        <span class="un-widget-bar-label">posts</span>
                        <span id="un-widget-bar-1" class="un-widget-bar-count">2.345</span>
                    </div>

                    <div class="un-widget-bar">
                        <span class="un-widget-bar-label">media</span>
                        <span id="un-widget-bar-2" class="un-widget-bar-count">1.874</span>
                    </div>

                    <div class="un-widget-bar">
                        <span class="un-widget-bar-label">videos</span>
                        <span id="un-widget-bar-3" class="un-widget-bar-count">742</span>
                    </div>

                    <div class="un-widget-bar">
                        <span class="un-widget-bar-label">podcats</span>
                        <span id="un-widget-bar-4" class="un-widget-bar-count">2.100</span>
                    </div>

                    <div class="un-widget-bar">
                        <span class="un-widget-bar-label">comments</span>
                        <span id="un-widget-bar-5" class="un-widget-bar-count">10.456</span>
                    </div>

                </li><!-- end widget stats-->

                <li class="un-item-widget un-widget-banner">

                    <img src="~/Content/theme/img/banner.png" alt="banner">

                </li><!-- end widget banner-->

                <li class="un-item-widget un-widget-posts un-shadow">

                    <div class="un-widget-title">popular<span class="un-dot">.</span>posts</div>

                    <div class="un-widget-post">

                        <div class="un-widget-post-image">
                            <img src="img/media/widget-post/img1.jpg" alt="">
                            <div class="un-item-overlay-3"></div><div class="un-item-more-icon"><a href="#"><i class="un-icon-search"></i></a></div>
                        </div>

                        <div class="un-widget-post-title"><a href="#">play your trip with joy</a></div>
                        <div class="un-widget-post-exc">Vivamus suscipit nisi e quis arcu et massa ultrie feugiat ad ferem.</div>

                        <div class="un-divider un-pull-left"></div>
                        <div class="un-widget-post-date un-pull-right">Feb 17, 2015</div>

                        <div class="un-clearfix"></div>

                    </div>

                    <div class="un-widget-post">

                        <div class="un-widget-post-image">
                            <img src="img/media/widget-post/img2.jpg" alt="">
                            <div class="un-item-overlay-3"></div><div class="un-item-more-icon"><a href="#"><i class="un-icon-search"></i></a></div>
                        </div>

                        <div class="un-widget-post-title"><a href="#">just do it</a></div>
                        <div class="un-widget-post-exc">Sed ut perspiciatis unde omnis mauris nisi tristiqu iste natus error sit voluptatem.</div>

                        <div class="un-divider un-pull-left"></div>
                        <div class="un-widget-post-date un-pull-right">Feb 15, 2015</div>

                        <div class="un-clearfix"></div>

                    </div>

                    <div class="un-widget-post">

                        <div class="un-widget-post-image">
                            <img src="img/media/widget-post/img3.jpg" alt="">
                            <div class="un-item-overlay-3"></div><div class="un-item-more-icon"><a href="#"><i class="un-icon-search"></i></a></div>
                        </div>

                        <div class="un-widget-post-title"><a href="#">the healty living</a></div>
                        <div class="un-widget-post-exc">Vivamus suscipit nisi a mauris mauris nisi tristiqu ultrie feugiat ad ferem.</div>

                        <div class="un-divider un-pull-left"></div>
                        <div class="un-widget-post-date un-pull-right">Feb 13, 2015</div>

                        <div class="un-clearfix"></div>

                    </div>

                </li><!-- end widget posts-->

                <li class="un-item-widget un-widget-social">

                    <div class="un-widget-title"><span class="un-line">follow<span class="un-dot">.</span>me</span></div>

                    <ul class="un-widget-list-social">

                        <li><a href="#"></a><i class="un-icon-social-twitter"></i></li>
                        <li><a href="#"></a><i class="un-icon-facebook"></i></li>
                        <li><a href="#"></a><i class="un-icon-google-plus"></i></li>
                        <li><a href="#"></a><i class="un-icon-instagram"></i></li>
                        <li><a href="#"></a><i class="un-icon-pinterest"></i></li>
                        <li><a href="#"></a><i class="un-icon-rss"></i></li>

                    </ul>

                </li><!-- end widget socials-->

                <li class="un-item-widget un-widget-tags un-shadow">

                    <div class="un-widget-title">tags<span class="un-dot">.</span>cloud</div>

                    <ul class="un-widget-list-tag">

                        <li><a href="#">#holidays</a></li>
                        <li><a href="#">#lifestyle</a></li>
                        <li><a href="#">#cool</a></li>
                        <li><a href="#">#recipes</a></li>
                        <li><a href="#">#podcasts</a></li>
                        <li><a href="#">#travel</a></li>
                        <li><a href="#">#world.trends</a></li>

                    </ul>

                </li><!-- end widget tags-->

                <li class="un-item-widget un-widget-video">

                    <div class="un-video-data un-video-size" data-property="{videoURL:'cfOhn7wAIac',containment:'self', autoPlay:false, mute:false, startAt:0, opacity:1, showControls:true, quality:'highres', showYTLogo:false, stopMovieOnBlur:false}"></div>

                </li><!-- end widget video-->

                <li class="un-item-widget un-widget-comment">

                    <div class="un-widget-comment-square un-shadow">

                        <span class="un-widget-comment-before">
                            <i class="un-icon-left-quote"></i>
                        </span>

                        <span class="un-widget-comment-title">sunday morning brunch</span>

                        <div class="un-divider-center"></div>

                        <span class="un-widget-comment-exc">
                            Extraordinary recipe!<br>
                            Please <strong>share</strong> with us other ideas! I love your food <a href="#">#concept !</a>
                        </span>

                        <span class="un-widget-comment-after">
                            <i class="un-icon-right-quote"></i>
                        </span>

                    </div>

                    <div class="un-widget-comment-arrow"></div>

                    <div class="un-widget-comment-author"><i class="un-icon-user"></i><span><a href="#">John Doe</a></span></div>
                    <div class="un-widget-comment-date">03 March 2015</div>

                </li><!-- end widget comment-->

                <li class="un-item-widget un-widget-stream">

                    <div class="un-widget-title">instagram</div>

                    <div class="un-widget-grid-photo">

                        <div class="un-widget-photo"><a href="#"><img src="img/media/widget-stream/img1.jpg" alt=""></a></div>
                        <div class="un-widget-photo"><a href="#"><img src="img/media/widget-stream/img2.jpg" alt=""></a></div>
                        <div class="un-widget-photo"><a href="#"><img src="img/media/widget-stream/img4.jpg" alt=""></a></div>
                        <div class="un-widget-photo un-photo-double"><a href="#"><img src="img/media/widget-stream/img3.jpg" alt=""></a></div>
                        <div class="un-widget-photo"><a href="#"><img src="img/media/widget-stream/img6.jpg" alt=""></a></div>
                        <div class="un-widget-photo"><a href="#"><img src="img/media/widget-stream/img8.jpg" alt=""></a></div>

                        <div class="un-clearfix"></div>

                    </div>

                </li><!-- end widget stream-->

                <li class="un-item-widget un-widget-list">

                    <div class="un-widget-title">categories</div>

                    <ul class="un-widget-list-main">

                        <li class="un-widget-item-parent un-list-open">
                            <a href="#">lifestyle<span class="un-widgte-item-toggle">-</span></a>
                            <span class="un-widget-item-count">234 posts</span>

                            <div class="un-list-toggle">

                                <ul class="un-widget-list-sub">
                                    <li><a href="#">fashion accessories</a></li>
                                    <li><a href="#">hobbies</a></li>
                                    <li><a href="#">house design</a></li>
                                    <li><a href="#">pets care</a></li>
                                </ul>

                            </div>

                        </li>

                        <li class="un-widget-item-parent">
                            <a href="#">world trends<span class="un-widgte-item-toggle">+</span></a>
                            <span class="un-widget-item-count">87 posts</span>

                            <div class="un-list-toggle">

                                <ul class="un-widget-list-sub">
                                    <li><a href="#">shabby chich</a></li>
                                    <li><a href="#">nordic</a></li>
                                    <li><a href="#">afrikans</a></li>
                                    <li><a href="#">arabic</a></li>
                                </ul>

                            </div>

                        </li>

                        <li class="un-widget-item-parent">
                            <a href="#">podcasts<span class="un-widgte-item-toggle">+</span></a>
                            <span class="un-widget-item-count">126 posts</span>

                            <div class="un-list-toggle">

                                <ul class="un-widget-list-sub">
                                    <li><a href="#">music</a></li>
                                    <li><a href="#">marketing</a></li>
                                    <li><a href="#">economy</a></li>
                                    <li><a href="#">tv</a></li>
                                </ul>

                            </div>

                        </li>

                        <li class="un-widget-item-parent">
                            <a href="#">travels<span class="un-widgte-item-toggle">+</span></a>
                            <span class="un-widget-item-count">225 posts</span>

                            <div class="un-list-toggle">

                                <ul class="un-widget-list-sub">
                                    <li><a href="#">miami</a></li>
                                    <li><a href="#">berlin</a></li>
                                    <li><a href="#">tokio</a></li>
                                    <li><a href="#">manila</a></li>
                                </ul>

                            </div>

                        </li>

                        <li class="un-widget-item-parent">
                            <a href="#">recipes<span class="un-widgte-item-toggle">+</span></a>
                            <span class="un-widget-item-count">69 posts</span>

                            <div class="un-list-toggle">

                                <ul class="un-widget-list-sub">
                                    <li><a href="#">salads</a></li>
                                    <li><a href="#">sauces</a></li>
                                    <li><a href="#">desserts</a></li>
                                    <li><a href="#">cakes</a></li>
                                </ul>

                            </div>

                        </li>

                    </ul>

                </li><!-- end widget categories-->

                <li class="un-item-widget un-widget-archive">

                    <div class="un-widget-title"><span class="un-line">archives</span></div>

                    <select class="un-select">

                        <option value="">February 2015 (236)</option>
                        <option value="">January 2015 (125)</option>
                        <option value="">December 2015 (325)</option>
                        <option value="">November 2014 (785)</option>

                    </select>

                </li><!-- end widget archive-->

            </ul><!-- end list widgets -->

        </aside>

        <div class="un-clearfix"></div>

    </div>

</div>
