﻿@model TheEngineeringProjectsWP.Models.PostCategory

@{
    Layout = "~/Views/Shared/_LayoutWordPress.cshtml";
}

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ParentCategoryId" class="control-label"></label>
                    <select asp-for="ParentCategoryId" asp-items="ViewBag.CategoriesData">
                        <option value="0">Select Parent Category</option>
                    </select>
                    <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryTitle" class="control-label"></label>
                    <input asp-for="CategoryTitle" class="form-control" />
                    <span asp-validation-for="CategoryTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryDescription" class="control-label"></label>
                    <input asp-for="CategoryDescription" class="form-control" />
                    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>