﻿@model TheEngineeringProjectsWP.Models.PostCategory

@{
    Layout = "~/Views/Shared/_LayoutWordPress.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>PostCategory</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CategoryId" />
                <div class="form-group">
                    <label asp-for="ParentCategoryId" class="control-label"></label>
                    <input asp-for="ParentCategoryId" class="form-control" />
                    <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryTitle" class="control-label"></label>
                    <input asp-for="CategoryTitle" class="form-control" />
                    <span asp-validation-for="CategoryTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryDescription" class="control-label"></label>
                    <input asp-for="CategoryDescription" class="form-control" />
                    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
