﻿@model IEnumerable<TheEngineeringProjectsWP.Models.PostCategory>

@{
    Layout = "~/Views/Shared/_LayoutWordPress.cshtml";
}

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ParentCategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryDescription)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentCategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryDescription)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
