﻿@model TheEngineeringProjectsWP.Models.PostsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutWordPress.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PostsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAllowComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAllowComments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
