﻿@model TheEngineeringProjectsWP.Models.PagesModel

@{
    Layout = "~/Views/Shared/_LayoutWordPress.cshtml";
}

<!-- include libraries(jQuery, bootstrap) -->
<link href="~/lib/bootstrap-3.3.5/dist/css/bootstrap.css" rel="stylesheet" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="~/lib/bootstrap-3.3.5/dist/js/bootstrap.js"></script>

<!-- include summernote css/js -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

<div class="row">
    <div class="col-lg-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input asp-for="Title" class="form-control" placeholder="Title of page" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea id="summernote" name="Content">@Model.Content</textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeatureImage" class="control-label"></label>
                <input type="file" name="Image" id="imgInp" />
                <img src="~/@Model.FeatureImage" height="200px" width="200px" id="FeatureImagePreview" />
                <span asp-validation-for="FeatureImage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAllowComments" /> @Html.DisplayNameFor(model => model.IsAllowComments)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 400,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
        });

        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
    
            reader.onload = function(e) {
              $('#FeatureImagePreview').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
          }
        }

        $("#imgInp").change(function() {
          readURL(this);
        });
    
    });
</script>
