﻿@model TheEngineeringProjectsWP.Models.WpPostmeta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WpPostmeta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MetaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
