﻿@model IEnumerable<TheEngineeringProjectsWP.Models.WpPostmeta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MetaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MetaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MetaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
