/* Commenti da fare */


/* All Transitions */

a, 
a:hover, 
ul.un-main-menu li a,
ul.un-main-menu li a:hover,
ul.un-menu-wide ul li a, 
ul.un-sub-menu li a, 
ul.un-sub-menu ul li a:hover,
.un-item-grid .un-post-link a,
.un-item-grid .un-post-link a:hover,
.un-item-grid .un-post-link a,
.un-item-grid .un-post-link a:hover, 
.un-title-page a,
.un-title-page a:hover,
.un-post-title a,
.un-post-title a:hover,
.un-btn-more a, 
.un-btn-more a:hover, 
.un-btn-more a i,
.un-btn-more a:hover i,
.un-btn-submit, 
.un-btn-submit i,
.un-btn-submit:hover, 
.un-btn-submit:hover i,
.un-btn-reply a i,
.un-btn-reply a:hover i,
.un-btn-search,
.un-btn-search:hover,
.un-btn-follow span, 
.un-btn-social span,
.un-btn-follow:hover span, 
.un-btn-social:hover span,
.un-btn-switch i,
.un-btn-switch:hover i,
.un-search-close,
.un-search-close:hover,
.un-image-close,
.un-image-close:hover,
.un-post-views, 
.un-post-views:hover,
.un-slider-nav-arrow, 
.un-slider-nav-arrow:hover,
.un-slider-nav-arrow:hover i,
.un-slider-page-nav .un-slider-arrow i,
.un-slider-page-nav .un-slider-arrow i:hover,
.un-social-slider .un-slider-nav-arrow i,
.un-social-slider .un-slider-nav-arrow:hover i,
.un-audio-play i,
.un-audio-play:hover i,
.un-video-play i,
.un-video-play:hover i,
.un-video-control a i,
.un-video-control a i:hover,
.un-widget-list-tag li a,
.un-widget-list-tag li:hover a,
.un-widget-item-parent > a,
.un-widget-item-parent > a:hover,
.un-widget-item-parent > a .un-widgte-item-toggle,
.un-widget-item-parent > a:hover .un-widgte-item-toggle,
.un-list-social li i,
.un-list-social li:hover i,
.un-author-socials li i,
.un-author-socials li:hover i,
.un-widget-list-social li,
.un-widget-list-social li:hover,
.un-widget-list-social li i,
.un-widget-list-social li:hover i,
.un-widget-list-sub li > a,
.un-widget-list-sub li > a:hover,
.un-btn-top i,
.un-btn-top i:hover,
.un-list-filters li,
.un-list-filters li:hover
{
	transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
}

.un-slider-dot,
.un-slider-dot:hover,
.un-inner-dot,
.un-inner-dot:hover,
.un-slider-page-nav .un-slider-dot,
.un-slider-page-nav .un-slider-dot:hover,
.un-slider-page-nav .un-slider-dot .un-inner-dot,
.un-slider-page-nav .un-slider-dot:hover .un-inner-dot,
.un-home-horizontal .un-item-social .un-post-image:after,
.un-home-horizontal .un-item-social .un-post-image:hover:after,
nav ul li a:hover,
nav ul li a
{
	transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
}


/* General Links */

a:hover {
	color: #333;	
}

/* Menu Links */

ul.un-main-menu > li a:hover {   
	color: #B2C979!important;
}

.un-pull-left ul.un-sub-menu > li a:hover { 
	color: #333 !important;
	background: rgba(255,255,255,0.3);
	margin-left: 10px;
}

.un-pull-right ul.un-sub-menu > li a:hover {
	color: #333 !important;
	background: rgba(255,255,255,0.3);
	margin-right: 10px;
}

/* Specific Post Links */

.un-item-grid .un-post-link a:hover {
	color: #333;
}

/* Header Page Links */

.un-title-page a:hover { 
	color: #B2C979;
}

/* Header Socials */

.un-list-social li:hover i {
	color: #B2C979;
}

/* Author Socials */

.un-author-socials li:hover i {
	color: #B2C979;
}

/* Titles */

.un-post-title a:hover {
	color: #B2C979;
}


/* Item Sliders */

.un-slider-big .un-slider-nav-arrow:hover {
	cursor: pointer;
	background: #333;
}

.un-slider-big .un-slider-nav-arrow:hover i {
	color: #fff;
}

.un-slider-small .un-slider-nav-arrow:hover {
	background: #fff;
	cursor: pointer;
}

.un-slider-small .un-slider-nav-arrow:hover i {
	color: #333;
}

.un-post-carousel .un-slider-nav-arrow:hover i, 
.un-carousel-big .un-slider-nav-arrow:hover i,
.un-slider-page-nav .un-slider-arrow i:hover,
.un-social-slider .un-slider-nav-arrow:hover i {
	color: #B2C979;
	cursor: pointer;
}

.un-social-slider .un-slider-nav-arrow:hover {
	background: #333;
}

.un-slider-page-nav .un-slider-dot {
	position: relative;
}

.un-slider-page-nav .un-slider-dot:not(.un-dot-active):hover {
	background: #E9E9E9; 
	cursor: pointer;
}

.un-slider-page-nav .un-slider-dot:not(.un-dot-active):hover .un-inner-dot {
	background: #E9E9E9; 
}

.un-slider-page-nav .un-slider-tip {
	display: none;
	opacity: 0;
	position: absolute;
	z-index: 9999;
	top: 45px;
	right: 30px;
	width: auto;
	padding: 10px;
	font-family: 'Cabin', sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #333;
	white-space: nowrap;
	background: #e9e9e9;
} 

.un-slider-page-nav .un-slider-tip-angle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 10px 10px;
	border-color: transparent transparent #e9e9e9 transparent;
	position: absolute;
	right: 0;
	top: -10px;
}


/* Buttons */

.un-btn-style-1 a:hover {
	background: #B2C979;
	border-color: #B2C979;
	color: #fff;
}

.un-btn-style-1 a:hover i {
	color: #fff;
}

.un-btn-style-2 a:hover {
	background: none;
	border-color: #E9E9E9;
	color: #B2C979;
}

.un-btn-style-2 a:hover i {
	color: #B2C979;
}

.un-btn-style-3 a:hover {
	background: #B2C979;
	color: #fff;
}

.un-btn-style-3 a:hover i {
	color: #fff;
}

.un-btn-style-4 a:hover, .un-btn-style-4 a:hover i {
	color: #333;
} 

.un-btn-submit:hover, .un-btn-submit:hover i {
	background: none;
	border-color: #E9E9E9;
	color: #B2C979;
}

.un-btn-reply a:hover i {
	color: #333;
} 

.un-btn-reply a:hover:after {
	content: 'Reply to the Comment';
	position: absolute;
	z-index: 9999;
	top: -5px;
	left: 25px;
	display: block;
	width: 150px;
	padding: 5px 6px;
	font-size: 13px;
	color: #fff;
	background: #333;
} 

.un-btn-search:hover {
	opacity: 0.8;
	cursor: pointer;
}

.un-btn-follow:hover span, 
.un-btn-social:hover span {
	color: #fff;
}

.un-btn-switch:hover i {
	cursor: pointer;
	color: #333;
}


/* Audio */

.un-audio-play:hover i {
	cursor: pointer;
	color: #fff !important;
}


/* Video */

.un-video-play:hover i {
	cursor: pointer;
	color: #333;
}

.un-video-control a i:hover {
	cursor: pointer;
	color: #B2C979;
}


/* Widgets */

.un-widget-list-social li:hover {
	cursor: pointer;
	background: #e9e9e9;
}

.un-widget-list-social li:hover i {
	color: #333;
}

.un-widget-list-tag li:hover a {
	background: #e9e9e9;
	color: #333;
}

.un-widget-item-parent > a:hover {
	background: #B2C979;
	color: #fff;
}

.un-widget-item-parent > a:hover .un-widgte-item-toggle {
	color: #fff;
}

.un-widget-list-sub li > a:hover {
	color: #333;
}


/* Top Button */

.un-btn-top i {
	cursor: pointer;
	color:#333;
}

.un-btn-top i:hover {
	color:#B2C979;
}


/* Search Close Button */

.un-search-close:hover {
	color: #B2C979;
}

/* Image Close Button */

.un-image-close:hover {
	color: #B2C979;
}

/* Overlays */

.un-item-overlay-1 {
	position: absolute; 
	background: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999;
	opacity: 0;
	cursor: pointer;
}

.un-item-more-icon {
	position: absolute; 
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: 25px;
	left: 50%;
	top: 50%;
	z-index: 999;
	opacity: 0;
	cursor: pointer;
	font-size: 30px;
	color: #333;
	line-height: 50px;
	text-align: center;
}

.un-item-overlay-2 {
	position: absolute; 
	background: rgba(255,255,255,0.9);
	left: 25px;
	top: 25px;
	z-index: 999;
	opacity: 0;
	cursor: pointer;
}

.un-item-overlay-2 .un-item-more-icon {
	position: absolute; 
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	left: 50%;
	top: 50%;
	z-index: 999;
	opacity: 1;
	cursor: pointer;
	font-size: 30px;
	color: #333;
	line-height: 50px;
	text-align: center;
}

.un-item-overlay-3 {
	position: absolute; 
	background: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999;
	opacity: 0;
	cursor: pointer;
}

.un-item-overlay-3 .un-item-icon {
	position: absolute; 
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: 25px;
	left: 50%;
	top: 50%;
	z-index: 999;
	opacity: 0;
	cursor: pointer;
	font-size: 20px;
	color: #333;
	line-height: 50px;
	text-align: center;
}

.un-item-overlay-4 {
	position: absolute; 
	width: 100%;
	height: 100%;
	background: ;
	left: 0;
	top: 0;
	z-index: 999;
	cursor: pointer;
	opacity: 0;	
	background: rgba(255,255,255,0.5);	

}

.un-item-view-icon {
	position: absolute; 
	width: 50px;
	height: 50px;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: 0;	
	z-index: 999;
	cursor: pointer;
	font-size: 40px;
	color: #333;
	line-height: 50px;
	text-align: center;
	opacity: 0;
}


.un-social-thumb:hover img {
	cursor: pointer;
}


.un-home-horizontal .un-item-social .un-post-image:after{
	opacity: 0;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
}

.un-home-horizontal .un-item-social .un-post-image:hover:after{
	opacity: 1;
}

.un-list-filters li:hover {
	border-color: #B2C979;
	cursor: pointer;
}